n8n/workflows/01-redaction-ia.json
{
  "updatedAt": "2026-03-30T11:48:02.546Z",
  "createdAt": "2026-02-23T13:02:15.986Z",
  "id": "B1HBUHs8hGnfFAHr",
  "name": "[PostPilot] 01 - R\u00e9daction IA",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook - generate-post",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-post",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "gH4oLORaj4z23eB4",
          "name": "PostPilot API Key"
        }
      }
    },
    {
      "id": "get-post",
      "name": "Supabase - Get Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        460,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://tplgbskcvimemwtwpxyk.supabase.co/rest/v1/posts?id=eq.{{ $json.body.post_id }}&select=id,content,source_type,source_url,source_content,organization_id,title",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRwbGdic2tjdmltZW13dHdweHlrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE3NjM2NTcsImV4cCI6MjA4NzMzOTY1N30.WQ8iMnCTuL6oGp8nU5YE8tiXfjCYYQks0qfnbhT3wmk"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "get-brand-profile",
      "name": "Supabase - Get Brand Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        680,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://tplgbskcvimemwtwpxyk.supabase.co/rest/v1/brand_profiles?organization_id=eq.{{ $('Webhook - generate-post').item.json.body.organization_id }}&select=*&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRwbGdic2tjdmltZW13dHdweHlrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE3NjM2NTcsImV4cCI6MjA4NzMzOTY1N30.WQ8iMnCTuL6oGp8nU5YE8tiXfjCYYQks0qfnbhT3wmk"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "get-max-version",
      "name": "Supabase - Get Max Version",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        900,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://tplgbskcvimemwtwpxyk.supabase.co/rest/v1/post_versions?post_id=eq.{{ $('Webhook - generate-post').item.json.body.post_id }}&select=version_number&order=version_number.desc&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRwbGdic2tjdmltZW13dHdweHlrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE3NjM2NTcsImV4cCI6MjA4NzMzOTY1N30.WQ8iMnCTuL6oGp8nU5YE8tiXfjCYYQks0qfnbhT3wmk"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "check-source-url",
      "name": "IF - Source is URL",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-url",
              "leftValue": "={{ $('Supabase - Get Post').item.json[0].source_type }}",
              "rightValue": "url",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "scrape-url",
      "name": "Supabase - Scrape URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1340,
        180
      ],
      "parameters": {
        "method": "POST",
        "url": "https://tplgbskcvimemwtwpxyk.supabase.co/functions/v1/scrape-url",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRwbGdic2tjdmltZW13dHdweHlrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE3NjM2NTcsImV4cCI6MjA4NzMzOTY1N30.WQ8iMnCTuL6oGp8nU5YE8tiXfjCYYQks0qfnbhT3wmk"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $('Supabase - Get Post').item.json[0].source_url }) }}",
        "options": {}
      }
    },
    {
      "id": "merge-source",
      "name": "Merge - Source Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1560,
        300
      ],
      "parameters": {
        "mode": "chooseBranch",
        "chooseBranchMode": "waitForAll",
        "output": "preferBranch",
        "options": {}
      }
    },
    {
      "id": "build-prompt",
      "name": "Code - Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        300
      ],
      "parameters": {
        "jsCode": "const post = $('Supabase - Get Post').item.json[0];\nconst bp   = $('Supabase - Get Brand Profile').item.json[0] || {};\n\n// \u2500\u2500 Source content\nlet rawSource = '';\nif (post.source_type === 'url') {\n  try {\n    const scraped = $('Supabase - Scrape URL').item.json;\n    rawSource = `Titre : ${scraped.title}\\n\\n${scraped.content}`;\n  } catch(e) {\n    rawSource = post.source_url || '';\n  }\n} else if (post.source_content) {\n  rawSource = post.source_content;\n} else if (post.content) {\n  rawSource = post.content;\n}\n\n// D\u00e9tecte [IMAGE:mime]base64\nconst imageMatch = rawSource.match(/\\[IMAGE:([^\\]]+)\\]([\\s\\S]+)$/);\nlet isImage = false, imageMimeType = '', imageBase64 = '', instructionsPrefix = '';\n\nif (imageMatch) {\n  isImage = true;\n  imageMimeType = imageMatch[1];\n  imageBase64 = imageMatch[2].trim();\n  const instrMatch = rawSource.match(/^Instructions\\s*:\\s*([\\s\\S]+?)\\n\\n---\\n\\n\\[IMAGE:/);\n  if (instrMatch) instructionsPrefix = instrMatch[1].trim().slice(0, 500);\n} else {\n  rawSource = rawSource.slice(0, 4000);\n}\n\n// \u2500\u2500 Brand profile\nconst tone = Array.isArray(bp.tone) ? bp.tone.join(', ') : (bp.tone || 'professionnel');\nconst keywords = Array.isArray(bp.keywords) ? bp.keywords.join(', ') : '';\nconst keywordsAvoid = Array.isArray(bp.keywords_avoid) ? bp.keywords_avoid.join(', ') : '';\nconst hashtags = Array.isArray(bp.hashtags_preferred) ? bp.hashtags_preferred.join(' ') : '';\nconst hashtagStrategy = bp.hashtag_strategy || 'medium';\nconst ctas = Array.isArray(bp.ctas_preferred) ? bp.ctas_preferred.join(', ') : '';\nconst examples = Array.isArray(bp.example_posts) && bp.example_posts.length > 0\n  ? bp.example_posts.slice(0,2).map((p, i) => `Exemple ${i+1}:\\n${String(p).slice(0,400)}`).join('\\n\\n')\n  : 'Aucun exemple fourni.';\nconst lengthMap = { short: '800-1200', medium: '1200-2000', long: '2000-3000' };\nconst targetChars = lengthMap[bp.post_length] || '1200-2000';\nconst emojiMap = { 0: 'Aucun emoji', 1: 'Tr\u00e8s peu (1-2 max)', 2: 'Mod\u00e9r\u00e9 (3-5)', 3: 'Beaucoup (6+)' };\nconst emojiUsage = emojiMap[bp.emoji_style] || 'Mod\u00e9r\u00e9 (3-5)';\n\nconst systemPrompt = `Tu es un expert en r\u00e9daction de posts LinkedIn pour ${bp.company_name || 'cette entreprise'}, une entreprise de ${bp.industry || 'ce secteur'}.\nTu r\u00e9diges des contenus professionnels, engageants et authentiques qui refl\u00e8tent la voix de la marque.\n\nProfil de marque :\n- Entreprise : ${bp.company_name} \u2014 ${(bp.description || '').slice(0,200)}\n- Audience cible : ${bp.target_audience || 'professionnels'}\n- Ton : ${tone}\n- Mots-cl\u00e9s \u00e0 int\u00e9grer : ${keywords || 'aucun sp\u00e9cifi\u00e9'}\n- Mots-cl\u00e9s interdits : ${keywordsAvoid || 'aucun'}\n- Emojis : ${emojiUsage}\n- Longueur cible : ~${targetChars} caract\u00e8res\n- Hashtags : strat\u00e9gie ${hashtagStrategy}, pr\u00e9f\u00e9r\u00e9s : ${hashtags || 'aucun'}\n- CTA pr\u00e9f\u00e9r\u00e9s : ${ctas || 'aucun sp\u00e9cifi\u00e9'}\n\nExemples de posts appr\u00e9ci\u00e9s :\n${examples}`;\n\n// \u2500\u2500 Build messages\nlet messages;\n\nif (isImage) {\n  let textInstruction;\n  if (instructionsPrefix) {\n    textInstruction = `\u00c9TAPE 1 \u2014 Lis attentivement l'image et transcris mentalement tout le texte visible.\\n\\n\u00c9TAPE 2 \u2014 Applique EXACTEMENT cette instruction sur ce texte :\\n\"${instructionsPrefix}\"\\n\\n\u00c9TAPE 3 \u2014 Formate le r\u00e9sultat en post LinkedIn :\\n- Langue : fran\u00e7ais\\n- Longueur : ~${targetChars} caract\u00e8res\\n- Emojis : ${emojiUsage}\\n- Hashtags en fin de post : ${hashtags || 'selon le sujet'}\\n- Signature : ${bp.signature || 'aucune'}\\n\\nIMPORTANT : Base-toi UNIQUEMENT sur le contenu visible dans l'image.`;\n  } else {\n    textInstruction = `\u00c9TAPE 1 \u2014 Lis attentivement l'image et transcris mentalement tout le texte visible.\\n\\n\u00c9TAPE 2 \u2014 R\u00e9dige un post LinkedIn professionnel bas\u00e9 sur ce contenu.\\n\\nConsignes :\\n1. Accroche percutante en premi\u00e8re ligne\\n2. D\u00e9veloppement structur\u00e9 avec sauts de ligne\\n3. Conclusion avec CTA\\n4. Hashtags en fin de post\\n5. Longueur : ~${targetChars} caract\u00e8res\\n6. Langue : fran\u00e7ais\\n\\nIMPORTANT : Base-toi UNIQUEMENT sur le contenu visible dans l'image.`;\n  }\n  messages = [{\n    role: 'user',\n    content: [\n      { type: 'image', source: { type: 'base64', media_type: imageMimeType, data: imageBase64 } },\n      { type: 'text', text: textInstruction }\n    ]\n  }];\n} else {\n  const userPrompt = `Source du post :\\n- Type : ${post.source_type || 'manual'}\\n- Contenu : ${rawSource}\\n\\nConsignes :\\n1. Accroche percutante en premi\u00e8re ligne (hook avant \"...voir plus\")\\n2. D\u00e9veloppement structur\u00e9 avec sauts de ligne\\n3. Conclusion avec CTA\\n4. Hashtags en fin de post\\n5. Longueur : ~${targetChars} caract\u00e8res\\n6. Langue : fran\u00e7ais\\n\\nG\u00e9n\u00e8re le post LinkedIn.`;\n  messages = [{ role: 'user', content: userPrompt }];\n}\n\n// Pr\u00e9-s\u00e9rialiser le body Claude pour \u00e9viter les probl\u00e8mes de s\u00e9rialisation n8n\n// avec les objets imbriqu\u00e9s (notamment le base64 image)\nconst claudeRequestBody = JSON.stringify({\n  model: 'claude-sonnet-4-6',\n  max_tokens: 1500,\n  system: systemPrompt,\n  messages: messages\n});\n\nreturn [{ json: { claudeRequestBody } }];"
      }
    },
    {
      "id": "call-claude",
      "name": "Claude API - Generate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2000,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "ANTHROPIC_API_KEY_PLACEHOLDER"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "specifyBody": "string",
        "options": {},
        "body": "={{ $json.claudeRequestBody }}",
        "sendBody": true
      }
    },
    {
      "id": "extract-content",
      "name": "Code - Extract Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2220,
        300
      ],
      "parameters": {
        "jsCode": "const claudeResponse = $('Claude API - Generate').item.json;\nconst content = claudeResponse.content?.[0]?.text || '';\n\nif (!content) {\n  throw new Error('Claude n\\'a retourn\u00e9 aucun contenu');\n}\n\n// Version number\nconst maxVersionData = $('Supabase - Get Max Version').item.json;\nconst maxVersion = Array.isArray(maxVersionData) && maxVersionData.length > 0\n  ? (maxVersionData[0].version_number || 0)\n  : 0;\nconst versionNumber = maxVersion + 1;\n\nconst postId       = $('Webhook - generate-post').item.json.body.post_id;\nconst orgId        = $('Webhook - generate-post').item.json.body.organization_id;\n\nreturn [{\n  json: { content, versionNumber, postId, orgId }\n}];"
      }
    },
    {
      "id": "notify-supabase",
      "name": "Supabase - webhook-from-n8n",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2440,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://tplgbskcvimemwtwpxyk.supabase.co/functions/v1/webhook-from-n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRwbGdic2tjdmltZW13dHdweHlrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE3NjM2NTcsImV4cCI6MjA4NzMzOTY1N30.WQ8iMnCTuL6oGp8nU5YE8tiXfjCYYQks0qfnbhT3wmk"
            },
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
            },
            {
              "name": "x-n8n-api-key",
              "value": "postpilot_secret_2025"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ action: 'post_generated', post_id: $json.postId, content: $json.content, version_number: $json.versionNumber }) }}",
        "options": {}
      }
    },
    {
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2660,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ content: $('Code - Extract Content').item.json.content, version_id: $('Supabase - webhook-from-n8n').item.json.action }) }}",
        "options": {
          "responseCode": 200
        }
      }
    }
  ],
  "connections": {
    "Webhook - generate-post": {
      "main": [
        [
          {
            "node": "Supabase - Get Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Get Post": {
      "main": [
        [
          {
            "node": "Supabase - Get Brand Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Get Brand Profile": {
      "main": [
        [
          {
            "node": "Supabase - Get Max Version",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Get Max Version": {
      "main": [
        [
          {
            "node": "IF - Source is URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Source is URL": {
      "main": [
        [
          {
            "node": "Supabase - Scrape URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge - Source Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Supabase - Scrape URL": {
      "main": [
        [
          {
            "node": "Merge - Source Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge - Source Data": {
      "main": [
        [
          {
            "node": "Code - Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build Prompt": {
      "main": [
        [
          {
            "node": "Claude API - Generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude API - Generate": {
      "main": [
        [
          {
            "node": "Code - Extract Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Extract Content": {
      "main": [
        [
          {
            "node": "Supabase - webhook-from-n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - webhook-from-n8n": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Paris",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": ""
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "c3429050-932c-4f16-98bc-b0126db31db5",
  "activeVersionId": "c3429050-932c-4f16-98bc-b0126db31db5",
  "versionCounter": 33,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-23T13:02:15.989Z",
      "createdAt": "2026-02-23T13:02:15.989Z",
      "role": "workflow:owner",
      "workflowId": "B1HBUHs8hGnfFAHr",
      "projectId": "hIs98lx4RTsIkVz5",
      "project": {
        "updatedAt": "2025-02-21T14:51:19.755Z",
        "createdAt": "2025-02-21T14:51:17.603Z",
        "id": "hIs98lx4RTsIkVz5",
        "name": "Christopher Mesquita <contact@rocket-solution.fr>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-02-21T14:51:17.603Z",
            "createdAt": "2025-02-21T14:51:17.603Z",
            "userId": "671fe695-ef56-4d50-ae9a-b8249b6b0a1f",
            "projectId": "hIs98lx4RTsIkVz5",
            "user": {
              "updatedAt": "2026-03-30T08:59:10.000Z",
              "createdAt": "2025-02-21T14:51:16.066Z",
              "id": "671fe695-ef56-4d50-ae9a-b8249b6b0a1f",
              "email": "contact@rocket-solution.fr",
              "firstName": "Christopher",
              "lastName": "Mesquita",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "Z5vlg5acAcxP2JUB",
                "userActivatedAt": 1740921407199,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1756821561270
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-29",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-30T11:48:02.548Z",
    "createdAt": "2026-03-30T11:48:02.548Z",
    "versionId": "c3429050-932c-4f16-98bc-b0126db31db5",
    "workflowId": "B1HBUHs8hGnfFAHr",
    "nodes": [
      {
        "id": "webhook-trigger",
        "name": "Webhook - generate-post",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          240,
          300
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "generate-post",
          "authentication": "headerAuth",
          "responseMode": "responseNode",
          "options": {}
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "gH4oLORaj4z23eB4",
            "name": "PostPilot API Key"
          }
        }
      },
      {
        "id": "get-post",
        "name": "Supabase - Get Post",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          460,
          300
        ],
        "parameters": {
          "method": "GET",
          "url": "=https://tplgbskcvimemwtwpxyk.supabase.co/rest/v1/posts?id=eq.{{ $json.body.post_id }}&select=id,content,source_type,source_url,source_content,organization_id,title",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRwbGdic2tjdmltZW13dHdweHlrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE3NjM2NTcsImV4cCI6MjA4NzMzOTY1N30.WQ8iMnCTuL6oGp8nU5YE8tiXfjCYYQks0qfnbhT3wmk"
              },
              {
                "name": "Authorization",
                "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
              },
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "get-brand-profile",
        "name": "Supabase - Get Brand Profile",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          680,
          300
        ],
        "parameters": {
          "method": "GET",
          "url": "=https://tplgbskcvimemwtwpxyk.supabase.co/rest/v1/brand_profiles?organization_id=eq.{{ $('Webhook - generate-post').item.json.body.organization_id }}&select=*&limit=1",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRwbGdic2tjdmltZW13dHdweHlrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE3NjM2NTcsImV4cCI6MjA4NzMzOTY1N30.WQ8iMnCTuL6oGp8nU5YE8tiXfjCYYQks0qfnbhT3wmk"
              },
              {
                "name": "Authorization",
                "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
              },
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "get-max-version",
        "name": "Supabase - Get Max Version",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          900,
          300
        ],
        "parameters": {
          "method": "GET",
          "url": "=https://tplgbskcvimemwtwpxyk.supabase.co/rest/v1/post_versions?post_id=eq.{{ $('Webhook - generate-post').item.json.body.post_id }}&select=version_number&order=version_number.desc&limit=1",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRwbGdic2tjdmltZW13dHdweHlrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE3NjM2NTcsImV4cCI6MjA4NzMzOTY1N30.WQ8iMnCTuL6oGp8nU5YE8tiXfjCYYQks0qfnbhT3wmk"
              },
              {
                "name": "Authorization",
                "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
              },
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "check-source-url",
        "name": "IF - Source is URL",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1120,
          300
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "cond-url",
                "leftValue": "={{ $('Supabase - Get Post').item.json[0].source_type }}",
                "rightValue": "url",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        }
      },
      {
        "id": "scrape-url",
        "name": "Supabase - Scrape URL",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1340,
          180
        ],
        "parameters": {
          "method": "POST",
          "url": "https://tplgbskcvimemwtwpxyk.supabase.co/functions/v1/scrape-url",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRwbGdic2tjdmltZW13dHdweHlrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE3NjM2NTcsImV4cCI6MjA4NzMzOTY1N30.WQ8iMnCTuL6oGp8nU5YE8tiXfjCYYQks0qfnbhT3wmk"
              },
              {
                "name": "Authorization",
                "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ url: $('Supabase - Get Post').item.json[0].source_url }) }}",
          "options": {}
        }
      },
      {
        "id": "merge-source",
        "name": "Merge - Source Data",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          1560,
          300
        ],
        "parameters": {
          "mode": "chooseBranch",
          "chooseBranchMode": "waitForAll",
          "output": "preferBranch",
          "options": {}
        }
      },
      {
        "id": "build-prompt",
        "name": "Code - Build Prompt",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1780,
          300
        ],
        "parameters": {
          "jsCode": "const post = $('Supabase - Get Post').item.json[0];\nconst bp   = $('Supabase - Get Brand Profile').item.json[0] || {};\n\n// \u2500\u2500 Source content\nlet rawSource = '';\nif (post.source_type === 'url') {\n  try {\n    const scraped = $('Supabase - Scrape URL').item.json;\n    rawSource = `Titre : ${scraped.title}\\n\\n${scraped.content}`;\n  } catch(e) {\n    rawSource = post.source_url || '';\n  }\n} else if (post.source_content) {\n  rawSource = post.source_content;\n} else if (post.content) {\n  rawSource = post.content;\n}\n\n// D\u00e9tecte [IMAGE:mime]base64\nconst imageMatch = rawSource.match(/\\[IMAGE:([^\\]]+)\\]([\\s\\S]+)$/);\nlet isImage = false, imageMimeType = '', imageBase64 = '', instructionsPrefix = '';\n\nif (imageMatch) {\n  isImage = true;\n  imageMimeType = imageMatch[1];\n  imageBase64 = imageMatch[2].trim();\n  const instrMatch = rawSource.match(/^Instructions\\s*:\\s*([\\s\\S]+?)\\n\\n---\\n\\n\\[IMAGE:/);\n  if (instrMatch) instructionsPrefix = instrMatch[1].trim().slice(0, 500);\n} else {\n  rawSource = rawSource.slice(0, 4000);\n}\n\n// \u2500\u2500 Brand profile\nconst tone = Array.isArray(bp.tone) ? bp.tone.join(', ') : (bp.tone || 'professionnel');\nconst keywords = Array.isArray(bp.keywords) ? bp.keywords.join(', ') : '';\nconst keywordsAvoid = Array.isArray(bp.keywords_avoid) ? bp.keywords_avoid.join(', ') : '';\nconst hashtags = Array.isArray(bp.hashtags_preferred) ? bp.hashtags_preferred.join(' ') : '';\nconst hashtagStrategy = bp.hashtag_strategy || 'medium';\nconst ctas = Array.isArray(bp.ctas_preferred) ? bp.ctas_preferred.join(', ') : '';\nconst examples = Array.isArray(bp.example_posts) && bp.example_posts.length > 0\n  ? bp.example_posts.slice(0,2).map((p, i) => `Exemple ${i+1}:\\n${String(p).slice(0,400)}`).join('\\n\\n')\n  : 'Aucun exemple fourni.';\nconst lengthMap = { short: '800-1200', medium: '1200-2000', long: '2000-3000' };\nconst targetChars = lengthMap[bp.post_length] || '1200-2000';\nconst emojiMap = { 0: 'Aucun emoji', 1: 'Tr\u00e8s peu (1-2 max)', 2: 'Mod\u00e9r\u00e9 (3-5)', 3: 'Beaucoup (6+)' };\nconst emojiUsage = emojiMap[bp.emoji_style] || 'Mod\u00e9r\u00e9 (3-5)';\n\nconst systemPrompt = `Tu es un expert en r\u00e9daction de posts LinkedIn pour ${bp.company_name || 'cette entreprise'}, une entreprise de ${bp.industry || 'ce secteur'}.\nTu r\u00e9diges des contenus professionnels, engageants et authentiques qui refl\u00e8tent la voix de la marque.\n\nProfil de marque :\n- Entreprise : ${bp.company_name} \u2014 ${(bp.description || '').slice(0,200)}\n- Audience cible : ${bp.target_audience || 'professionnels'}\n- Ton : ${tone}\n- Mots-cl\u00e9s \u00e0 int\u00e9grer : ${keywords || 'aucun sp\u00e9cifi\u00e9'}\n- Mots-cl\u00e9s interdits : ${keywordsAvoid || 'aucun'}\n- Emojis : ${emojiUsage}\n- Longueur cible : ~${targetChars} caract\u00e8res\n- Hashtags : strat\u00e9gie ${hashtagStrategy}, pr\u00e9f\u00e9r\u00e9s : ${hashtags || 'aucun'}\n- CTA pr\u00e9f\u00e9r\u00e9s : ${ctas || 'aucun sp\u00e9cifi\u00e9'}\n\nExemples de posts appr\u00e9ci\u00e9s :\n${examples}`;\n\n// \u2500\u2500 Build messages\nlet messages;\n\nif (isImage) {\n  let textInstruction;\n  if (instructionsPrefix) {\n    textInstruction = `\u00c9TAPE 1 \u2014 Lis attentivement l'image et transcris mentalement tout le texte visible.\\n\\n\u00c9TAPE 2 \u2014 Applique EXACTEMENT cette instruction sur ce texte :\\n\"${instructionsPrefix}\"\\n\\n\u00c9TAPE 3 \u2014 Formate le r\u00e9sultat en post LinkedIn :\\n- Langue : fran\u00e7ais\\n- Longueur : ~${targetChars} caract\u00e8res\\n- Emojis : ${emojiUsage}\\n- Hashtags en fin de post : ${hashtags || 'selon le sujet'}\\n- Signature : ${bp.signature || 'aucune'}\\n\\nIMPORTANT : Base-toi UNIQUEMENT sur le contenu visible dans l'image.`;\n  } else {\n    textInstruction = `\u00c9TAPE 1 \u2014 Lis attentivement l'image et transcris mentalement tout le texte visible.\\n\\n\u00c9TAPE 2 \u2014 R\u00e9dige un post LinkedIn professionnel bas\u00e9 sur ce contenu.\\n\\nConsignes :\\n1. Accroche percutante en premi\u00e8re ligne\\n2. D\u00e9veloppement structur\u00e9 avec sauts de ligne\\n3. Conclusion avec CTA\\n4. Hashtags en fin de post\\n5. Longueur : ~${targetChars} caract\u00e8res\\n6. Langue : fran\u00e7ais\\n\\nIMPORTANT : Base-toi UNIQUEMENT sur le contenu visible dans l'image.`;\n  }\n  messages = [{\n    role: 'user',\n    content: [\n      { type: 'image', source: { type: 'base64', media_type: imageMimeType, data: imageBase64 } },\n      { type: 'text', text: textInstruction }\n    ]\n  }];\n} else {\n  const userPrompt = `Source du post :\\n- Type : ${post.source_type || 'manual'}\\n- Contenu : ${rawSource}\\n\\nConsignes :\\n1. Accroche percutante en premi\u00e8re ligne (hook avant \"...voir plus\")\\n2. D\u00e9veloppement structur\u00e9 avec sauts de ligne\\n3. Conclusion avec CTA\\n4. Hashtags en fin de post\\n5. Longueur : ~${targetChars} caract\u00e8res\\n6. Langue : fran\u00e7ais\\n\\nG\u00e9n\u00e8re le post LinkedIn.`;\n  messages = [{ role: 'user', content: userPrompt }];\n}\n\n// Pr\u00e9-s\u00e9rialiser le body Claude pour \u00e9viter les probl\u00e8mes de s\u00e9rialisation n8n\n// avec les objets imbriqu\u00e9s (notamment le base64 image)\nconst claudeRequestBody = JSON.stringify({\n  model: 'claude-sonnet-4-6',\n  max_tokens: 1500,\n  system: systemPrompt,\n  messages: messages\n});\n\nreturn [{ json: { claudeRequestBody } }];"
        }
      },
      {
        "id": "call-claude",
        "name": "Claude API - Generate",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          2000,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.anthropic.com/v1/messages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "ANTHROPIC_API_KEY_PLACEHOLDER"
              },
              {
                "name": "anthropic-version",
                "value": "2023-06-01"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "specifyBody": "string",
          "options": {},
          "body": "={{ $json.claudeRequestBody }}",
          "sendBody": true
        }
      },
      {
        "id": "extract-content",
        "name": "Code - Extract Content",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2220,
          300
        ],
        "parameters": {
          "jsCode": "const claudeResponse = $('Claude API - Generate').item.json;\nconst content = claudeResponse.content?.[0]?.text || '';\n\nif (!content) {\n  throw new Error('Claude n\\'a retourn\u00e9 aucun contenu');\n}\n\n// Version number\nconst maxVersionData = $('Supabase - Get Max Version').item.json;\nconst maxVersion = Array.isArray(maxVersionData) && maxVersionData.length > 0\n  ? (maxVersionData[0].version_number || 0)\n  : 0;\nconst versionNumber = maxVersion + 1;\n\nconst postId       = $('Webhook - generate-post').item.json.body.post_id;\nconst orgId        = $('Webhook - generate-post').item.json.body.organization_id;\n\nreturn [{\n  json: { content, versionNumber, postId, orgId }\n}];"
        }
      },
      {
        "id": "notify-supabase",
        "name": "Supabase - webhook-from-n8n",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          2440,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "https://tplgbskcvimemwtwpxyk.supabase.co/functions/v1/webhook-from-n8n",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRwbGdic2tjdmltZW13dHdweHlrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE3NjM2NTcsImV4cCI6MjA4NzMzOTY1N30.WQ8iMnCTuL6oGp8nU5YE8tiXfjCYYQks0qfnbhT3wmk"
              },
              {
                "name": "Authorization",
                "value": "Bearer SUPABASE_SERVICE_ROLE_KEY_PLACEHOLDER"
              },
              {
                "name": "x-n8n-api-key",
                "value": "postpilot_secret_2025"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ action: 'post_generated', post_id: $json.postId, content: $json.content, version_number: $json.versionNumber }) }}",
          "options": {}
        }
      },
      {
        "id": "respond",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          2660,
          300
        ],
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({ content: $('Code - Extract Content').item.json.content, version_id: $('Supabase - webhook-from-n8n').item.json.action }) }}",
          "options": {
            "responseCode": 200
          }
        }
      }
    ],
    "connections": {
      "Webhook - generate-post": {
        "main": [
          [
            {
              "node": "Supabase - Get Post",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Supabase - Get Post": {
        "main": [
          [
            {
              "node": "Supabase - Get Brand Profile",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Supabase - Get Brand Profile": {
        "main": [
          [
            {
              "node": "Supabase - Get Max Version",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Supabase - Get Max Version": {
        "main": [
          [
            {
              "node": "IF - Source is URL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF - Source is URL": {
        "main": [
          [
            {
              "node": "Supabase - Scrape URL",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Merge - Source Data",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Supabase - Scrape URL": {
        "main": [
          [
            {
              "node": "Merge - Source Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge - Source Data": {
        "main": [
          [
            {
              "node": "Code - Build Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Build Prompt": {
        "main": [
          [
            {
              "node": "Claude API - Generate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Claude API - Generate": {
        "main": [
          [
            {
              "node": "Code - Extract Content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Extract Content": {
        "main": [
          [
            {
              "node": "Supabase - webhook-from-n8n",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Supabase - webhook-from-n8n": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Christopher Mesquita",
    "name": null,
    "description": null
  }
}