n8n/workflows/04-collecte-analytics.json
{
  "name": "[PostPilot] 04 - Collecte Analytics",
  "nodes": [
    {
      "id": "schedule-trigger",
      "name": "Schedule - Daily 6h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "get-published-posts",
      "name": "Supabase - Get Published Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/posts?status=eq.published&platform_post_id=not.is.null&deleted_at=is.null&select=id,organization_id,platform_post_id,platform_type&limit=50",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Accept", "value": "application/json" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "split-posts",
      "name": "Code - Split Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "parameters": {
        "jsCode": "const posts = Array.isArray($json) ? $json : [];\nif (posts.length === 0) return [];\nreturn posts.map(post => ({ json: post }));"
      }
    },
    {
      "id": "get-token",
      "name": "Supabase - Get LinkedIn Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/platforms?organization_id=eq.{{ $json.organization_id }}&platform_type=eq.linkedin&is_active=eq.true&select=oauth_tokens",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Accept", "value": "application/json" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "get-linkedin-stats",
      "name": "LinkedIn API - Get Post Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 300],
      "parameters": {
        "method": "GET",
        "url": "=https://api.linkedin.com/v2/socialActions/{{ encodeURIComponent($('Code - Split Posts').item.json.platform_post_id) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ Array.isArray($json) && $json.length > 0 ? $json[0].oauth_tokens.access_token : '' }}" },
            { "name": "X-Restli-Protocol-Version", "value": "2.0.0" },
            { "name": "LinkedIn-Version", "value": "202402" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "extract-metrics",
      "name": "Code - Extract Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300],
      "parameters": {
        "jsCode": "const post = $('Code - Split Posts').item.json;\nconst stats = $json;\n\n// Extract counts from LinkedIn socialActions response\nconst likesCount = stats.likes?.paging?.total || stats.likes?.totalElements || 0;\nconst commentsCount = stats.comments?.paging?.total || stats.comments?.totalElements || 0;\nconst sharesCount = stats.shares?.paging?.total || stats.shares?.totalElements || 0;\n\nreturn [{ json: {\n  post_id: post.id,\n  organization_id: post.organization_id,\n  platform_type: post.platform_type || 'linkedin',\n  likes_count: likesCount,\n  comments_count: commentsCount,\n  shares_count: sharesCount,\n  impressions_count: 0,\n  clicks_count: 0\n} }];"
      }
    },
    {
      "id": "save-analytics",
      "name": "webhook-from-n8n - analytics_collected",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1560, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/functions/v1/webhook-from-n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "x-n8n-api-key", "value": "={{ $env.N8N_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ action: 'analytics_collected', post_id: $json.post_id, organization_id: $json.organization_id, platform_type: $json.platform_type, metrics: { likes_count: $json.likes_count, comments_count: $json.comments_count, shares_count: $json.shares_count, impressions_count: $json.impressions_count, clicks_count: $json.clicks_count } }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Schedule - Daily 6h": {
      "main": [[{ "node": "Supabase - Get Published Posts", "type": "main", "index": 0 }]]
    },
    "Supabase - Get Published Posts": {
      "main": [[{ "node": "Code - Split Posts", "type": "main", "index": 0 }]]
    },
    "Code - Split Posts": {
      "main": [[{ "node": "Supabase - Get LinkedIn Token", "type": "main", "index": 0 }]]
    },
    "Supabase - Get LinkedIn Token": {
      "main": [[{ "node": "LinkedIn API - Get Post Stats", "type": "main", "index": 0 }]]
    },
    "LinkedIn API - Get Post Stats": {
      "main": [[{ "node": "Code - Extract Metrics", "type": "main", "index": 0 }]]
    },
    "Code - Extract Metrics": {
      "main": [[{ "node": "webhook-from-n8n - analytics_collected", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Paris",
    "callerPolicy": "workflowsFromSameOwner"
  }
}
