n8n/workflows/07-scraping-url.json
{
  "name": "[PostPilot] 07 - Scraping URL",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook - scrape-url",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "scrape-url",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "postpilot-api-key",
          "name": "PostPilot API Key"
        }
      }
    },
    {
      "id": "call-scrape-function",
      "name": "Supabase - Scrape URL Edge Function",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.POSTPILOT_SUPABASE_URL }}/functions/v1/scrape-url",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $vars.POSTPILOT_SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $vars.POSTPILOT_SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $('Webhook - scrape-url').item.json.body.url }) }}",
        "options": {}
      }
    },
    {
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ title: $json.title, summary: $json.summary, content: $json.content }) }}",
        "options": { "responseCode": 200 }
      }
    }
  ],
  "connections": {
    "Webhook - scrape-url": {
      "main": [[{ "node": "Supabase - Scrape URL Edge Function", "type": "main", "index": 0 }]]
    },
    "Supabase - Scrape URL Edge Function": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "",
    "timezone": "Europe/Paris"
  },
  "tags": [{ "name": "PostPilot" }]
}
