n8n/workflows/11-chat-ia-assistant.json
{
  "name": "[PostPilot] 11 - Chat IA Assistant",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook - POST ai-chat",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-chat",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "get-brand-profile",
      "name": "Supabase - Get Brand Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 220],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.POSTPILOT_SUPABASE_URL }}/rest/v1/brand_profiles?organization_id=eq.{{ $('Webhook - POST ai-chat').item.json.body.organization_id }}&select=company_name,description,industry,target_audience,tone,keywords,emoji_style,post_length&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.POSTPILOT_SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "Bearer {{ $env.POSTPILOT_SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Accept", "value": "application/json" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "get-programs",
      "name": "Supabase - Get Active Programs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 340],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.POSTPILOT_SUPABASE_URL }}/rest/v1/programs?organization_id=eq.{{ $('Webhook - POST ai-chat').item.json.body.organization_id }}&status=in.(draft,active)&select=title,status,start_date,end_date,posts_per_week&limit=10",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.POSTPILOT_SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "Bearer {{ $env.POSTPILOT_SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Accept", "value": "application/json" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "get-analytics",
      "name": "Supabase - Get Analytics 7d",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 460],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.POSTPILOT_SUPABASE_URL }}/rest/v1/post_analytics?organization_id=eq.{{ $('Webhook - POST ai-chat').item.json.body.organization_id }}&collected_at=gte.{{ new Date(Date.now() - 7*86400000).toISOString() }}&select=likes_count,comments_count,impressions_count,engagement_rate&limit=50",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.POSTPILOT_SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "Bearer {{ $env.POSTPILOT_SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Accept", "value": "application/json" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "build-conversation",
      "name": "Code - Build Conversation & Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 340],
      "parameters": {
        "jsCode": "const webhookBody = $('Webhook - POST ai-chat').item.json.body;\nconst org_id = webhookBody.organization_id;\nconst conversation_id = webhookBody.conversation_id || null;\nconst userMessage = webhookBody.message;\n\n// Brand profile\nconst brandProfiles = $('Supabase - Get Brand Profile').all().map(i => i.json);\nconst brand = Array.isArray(brandProfiles[0]) ? brandProfiles[0][0] : (brandProfiles[0] || {});\n\n// Programs\nconst programsData = $('Supabase - Get Active Programs').all().map(i => i.json);\nconst programs = Array.isArray(programsData[0]) ? programsData[0] : programsData;\n\n// Analytics\nconst analyticsData = $('Supabase - Get Analytics 7d').all().map(i => i.json);\nconst analytics = Array.isArray(analyticsData[0]) ? analyticsData[0] : analyticsData;\n\n// Build programs summary\nlet programsSummary = 'Aucun programme en cours.';\nif (programs.length > 0) {\n  programsSummary = programs.map(p =>\n    `- ${p.title} (${p.status}) : ${p.posts_per_week} posts/sem, du ${p.start_date} au ${p.end_date}`\n  ).join('\\n');\n}\n\n// Build analytics summary\nlet analyticsSummary = 'Pas encore de données.';\nif (analytics.length > 0) {\n  const totalLikes = analytics.reduce((s, a) => s + (a.likes_count || 0), 0);\n  const totalComments = analytics.reduce((s, a) => s + (a.comments_count || 0), 0);\n  const totalImpressions = analytics.reduce((s, a) => s + (a.impressions_count || 0), 0);\n  const avgEng = analytics.filter(a => a.engagement_rate).length > 0\n    ? (analytics.reduce((s, a) => s + (a.engagement_rate || 0), 0) / analytics.filter(a => a.engagement_rate).length).toFixed(2)\n    : '0';\n  analyticsSummary = `7 derniers jours : ${analytics.length} posts analysés. ${totalLikes} likes, ${totalComments} commentaires, ${totalImpressions} impressions. Engagement moyen : ${avgEng}%.`;\n}\n\n// System prompt\nconst systemPrompt = `Tu es l'assistant personnel de communication de ${brand.company_name || 'cette entreprise'}.\n\nTon rôle : accompagner le client dans la planification de ses campagnes LinkedIn.\n\nProfil de l'entreprise :\n- Entreprise : ${brand.company_name || '?'} — ${brand.description || '?'}\n- Secteur : ${brand.industry || '?'}\n- Audience : ${brand.target_audience || '?'}\n- Ton : ${JSON.stringify(brand.tone || [])}\n- Mots-clés : ${JSON.stringify(brand.keywords || [])}\n\nProgrammes en cours :\n${programsSummary}\n\nPerformances récentes :\n${analyticsSummary}\n\nRègles impératives :\n- Sois proactif et concret. Propose des titres de posts précis.\n- Parle en français.\n- Quand le client valide un programme, génère OBLIGATOIREMENT ce format JSON :\n[PROGRAM_PROPOSAL]\n{ \"title\": \"...\", \"duration_weeks\": N, \"posts_per_week\": N, \"posts\": [{\"title\": \"...\", \"week\": 1, \"theme\": \"...\", \"day_of_week\": \"monday\"}, ...] }\n[/PROGRAM_PROPOSAL]\n- Ne génère ce format QUE quand le client dit explicitement qu'il valide.`;\n\n// Fetch or init conversation\nlet existingMessages = [];\nlet convId = conversation_id;\n\nif (conversation_id) {\n  const supabaseUrl = $env.POSTPILOT_SUPABASE_URL;\n  const res = await $helpers.httpRequest({\n    method: 'GET',\n    url: `${supabaseUrl}/rest/v1/ai_conversations?id=eq.${conversation_id}&select=messages&limit=1`,\n    headers: {\n      'apikey': $env.POSTPILOT_SUPABASE_ANON_KEY,\n      'Authorization': `Bearer ${$env.POSTPILOT_SUPABASE_SERVICE_ROLE_KEY}`,\n      'Accept': 'application/json'\n    }\n  });\n  const rows = Array.isArray(res) ? res : [res];\n  if (rows.length > 0 && rows[0].messages) {\n    existingMessages = Array.isArray(rows[0].messages) ? rows[0].messages : JSON.parse(rows[0].messages);\n  }\n}\n\n// Append user message\nexistingMessages.push({ role: 'user', content: userMessage, timestamp: new Date().toISOString() });\n\n// Build Claude messages format\nconst claudeMessages = existingMessages.map(m => ({ role: m.role, content: m.content }));\n\nreturn [{ json: {\n  org_id,\n  conv_id: convId,\n  system_prompt: systemPrompt,\n  claude_messages: claudeMessages,\n  existing_messages: existingMessages\n} }];"
      }
    },
    {
      "id": "claude-chat",
      "name": "Claude API - Chat Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [940, 340],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 2048, system: $json.system_prompt, messages: $json.claude_messages }) }}",
        "options": {
          "response": {
            "response": { "neverError": true }
          }
        }
      }
    },
    {
      "id": "parse-save",
      "name": "Code - Parse & Save Conversation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1180, 340],
      "parameters": {
        "jsCode": "const buildNode = $('Code - Build Conversation & Prompt').item.json;\nconst claudeResp = $json;\n\nconst org_id = buildNode.org_id;\nlet conv_id = buildNode.conv_id;\nconst existingMessages = buildNode.existing_messages || [];\n\n// Extract reply text\nconst replyText = claudeResp.content && claudeResp.content[0] ? claudeResp.content[0].text : '';\n\n// Append assistant message\nexistingMessages.push({ role: 'assistant', content: replyText, timestamp: new Date().toISOString() });\n\n// Parse PROGRAM_PROPOSAL if present\nconst extracted_items = [];\nconst proposalMatch = replyText.match(/\\[PROGRAM_PROPOSAL\\]([\\s\\S]*?)\\[\\/PROGRAM_PROPOSAL\\]/);\nif (proposalMatch) {\n  try {\n    const proposalData = JSON.parse(proposalMatch[1].trim());\n    extracted_items.push({ type: 'program', data: proposalData, validated: false });\n  } catch (e) {\n    // ignore parse error\n  }\n}\n\n// Save conversation to Supabase\nconst supabaseUrl = $env.POSTPILOT_SUPABASE_URL;\nconst headers = {\n  'apikey': $env.POSTPILOT_SUPABASE_ANON_KEY,\n  'Authorization': `Bearer ${$env.POSTPILOT_SUPABASE_SERVICE_ROLE_KEY}`,\n  'Content-Type': 'application/json',\n  'Prefer': 'return=representation'\n};\n\nlet savedConv;\nif (conv_id) {\n  // Update existing\n  savedConv = await $helpers.httpRequest({\n    method: 'PATCH',\n    url: `${supabaseUrl}/rest/v1/ai_conversations?id=eq.${conv_id}`,\n    headers,\n    body: JSON.stringify({\n      messages: existingMessages,\n      extracted_items,\n      updated_at: new Date().toISOString()\n    })\n  });\n  savedConv = Array.isArray(savedConv) ? savedConv[0] : { id: conv_id };\n} else {\n  // Create new conversation\n  const title = existingMessages[0]?.content?.slice(0, 60) || 'Nouvelle conversation';\n  savedConv = await $helpers.httpRequest({\n    method: 'POST',\n    url: `${supabaseUrl}/rest/v1/ai_conversations`,\n    headers,\n    body: JSON.stringify({\n      organization_id: org_id,\n      context: 'program_planning',\n      title,\n      messages: existingMessages,\n      extracted_items,\n      is_active: true\n    })\n  });\n  savedConv = Array.isArray(savedConv) ? savedConv[0] : savedConv;\n  conv_id = savedConv?.id || conv_id;\n}\n\nreturn [{ json: {\n  reply: replyText,\n  conversation_id: conv_id,\n  extracted_items\n} }];"
      }
    },
    {
      "id": "success-response",
      "name": "Webhook Response - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1420, 340],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": { "responseCode": 200 }
      }
    }
  ],
  "connections": {
    "Webhook - POST ai-chat": {
      "main": [
        [
          { "node": "Supabase - Get Brand Profile", "type": "main", "index": 0 },
          { "node": "Supabase - Get Active Programs", "type": "main", "index": 0 },
          { "node": "Supabase - Get Analytics 7d", "type": "main", "index": 0 }
        ]
      ]
    },
    "Supabase - Get Brand Profile": {
      "main": [[{ "node": "Code - Build Conversation & Prompt", "type": "main", "index": 0 }]]
    },
    "Supabase - Get Active Programs": {
      "main": [[{ "node": "Code - Build Conversation & Prompt", "type": "main", "index": 0 }]]
    },
    "Supabase - Get Analytics 7d": {
      "main": [[{ "node": "Code - Build Conversation & Prompt", "type": "main", "index": 0 }]]
    },
    "Code - Build Conversation & Prompt": {
      "main": [[{ "node": "Claude API - Chat Response", "type": "main", "index": 0 }]]
    },
    "Claude API - Chat Response": {
      "main": [[{ "node": "Code - Parse & Save Conversation", "type": "main", "index": 0 }]]
    },
    "Code - Parse & Save Conversation": {
      "main": [[{ "node": "Webhook Response - Success", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Paris",
    "callerPolicy": "workflowsFromSameOwner"
  }
}
